@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #ffffff;
  --fg: #0b1220;
}

html { scroll-behavior: smooth; }
body { background: var(--bg); color: var(--fg); font-feature-settings: "ss01" 1, "cv02" 1; }
a { text-underline-offset: 4px; }
